<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Register - Event Horizon</title>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="register.css" />
</head>
<body>

  <div class="register-container">
    <h1 class="main-title">Welcome to EVENT HORIZON</h1>
    <p class="subtitle">"Planning your Dreams"</p>
    <h2 class="register-title">Register with us</h2>

    <form class="register-form">
      <input type="email" placeholder="Email Address" required />
      <input type="text" placeholder="First Name" required />
      <input type="text" placeholder="Last Name" required />
      <input type="tel" placeholder="Mobile Number" pattern="[0-9]{10}" required />
      <input type="date" placeholder="Date of Birth" required />
      <button type="submit" class="register-btn" >Register</button>
    </form>
  </div>

  <footer class="footer">
    All the details mentioned above should be Correct
  </footer>

</body>
</html>
